.cardContainer{
    width: 100%;
    height: 100%;   
    -webkit-box-shadow: 0px 3px 26px 0px rgba(51, 50, 50, 0.49);
    -moz-box-shadow:    0px 3px 26px 0px rgba(51, 50, 50, 0.49);
    box-shadow:         0px 3px 26px 0px rgba(51, 50, 50, 0.49);
    font-family: 'Montserrat', sans-serif;
}

.cardHeader-glossario{
    background-image: url("brain.png");
    height: 300px;
    background-size: cover;
    text-align: left;
    color: #fff;
    padding: 10px;
}
.cardHeader-normas{
    background-image: url("termo.jpg");
    height: 300px;
    background-size: cover;
    text-align: left;
    color: #fff;
    padding: 10px;
}

.cardHeader-clinicas{
    background-image: url("maps.jpg");
    height: 300px;
    background-size: cover;
    text-align: left;
    color: #fff;
    padding: 10px;
}

.cardHeader-chat{
    background-image: url("talk.jpg");
    height: 300px;
    background-size: cover;
    text-align: left;
    color: #fff;
    padding: 10px;
}

.botaoAcessar-chat, .botaoAcessar-clinicas, .botaoAcessar-normas, .botaoAcessar-glossario {
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border:none;
    font-weight:700;
    color:#fff;
    cursor: pointer;
    margin-bottom: 15px;
}

.botaoAcessar-chat{
    
    background:#300030;
    box-shadow:0 15px 0 #601848;   
    text-decoration: none;
}

.botaoAcessar-glossario{
    
    background:#601848;
    box-shadow:0 15px 0 #C04848;   
}

.botaoAcessar-glossario:hover{
    background:#C04848;
    box-shadow:0 15px 0 #601848;
}

.botaoAcessar-glossario:active{
        position:relative;
        top:5px;
        box-shadow:none;
}

.botaoAcessar-clinicas{
    
    background:#C04848;
    box-shadow:0 15px 0 #F07241;   
}

.botaoAcessar-normas{
    
    background:#F07241;
    box-shadow:0 15px 0 #300030;   
}

.botaoAcessar-normas:hover{
    background:#300030;
    box-shadow:0 15px 0 #F07241;
}

.botaoAcessar-normas:active{
        position:relative;
        top:5px;
        box-shadow:none;
}

.botaoAcessar-chat:hover{
    background:#601848;
    box-shadow:0 15px 0 #300030;
}

.botaoAcessar-chat:active{
        position:relative;
        top:5px;
        box-shadow:none;
}

.botaoAcessar-clinicas:hover{
    background:#F07241;
    box-shadow:0 15px 0 #C04848;
}

.botaoAcessar-clinicas:active{
        position:relative;
        top:5px;
        box-shadow:none;
}

.cardContainer h3, .cardContainer p{
    color: #000;
}

.cardFooter{
    width: 100%;
    height: 250px;
    padding: 20px;
}

footer{
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    height: 100%;
}

footer p{
    font-size: 15px;
    height: 50%;
}

@media (min-width: 1281px) and (max-width: 1400px){
    .cardHeader-chat, .cardHeader-glossario, .cardHeader-clinicas, .cardHeader-normas {
        height: 50vh;   
        padding: 10px;   
    }
    .cardFooter {
        height: 40vh;
        padding: 10px 30px 0px 30px;
        margin-top: 10px;
    }
    .cardFooter p{
        margin-bottom: 0px;
        text-align: center;
        font-size: 16px;
    }

    .botaoAcessar-chat, .botaoAcessar-clinicas, .botaoAcessar-normas, .botaoAcessar-glossario {
      font-size: 18px;
      margin-top: 10px;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .cardHeader-chat, .cardHeader-glossario, .cardHeader-clinicas, .cardHeader-normas {
        height: 50vh;   
        padding: 10px;   
    }
    .cardFooter {
        height: 40vh;
        padding: 10px 30px 0px 30px;
    }
    .cardFooter p{
        margin-bottom: 0px;
        text-align: center;
        font-size: 25px;
    }

    .botaoAcessar-chat, .botaoAcessar-clinicas, .botaoAcessar-normas, .botaoAcessar-glossario {
      font-size: 20px;
      margin-top: 10px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) { 
    .cardHeader-chat, .cardHeader-glossario, .cardHeader-clinicas, .cardHeader-normas {
        height: 60vh;   
        padding: 10px;   
    }
    .cardFooter {
        height: 25vh;
        padding: 10px 30px 0px 30px;
    }
    .cardFooter p{
        margin-bottom: 0px;
        text-align: center;
        font-size: 28px;
    }

    .botaoAcessar-chat, .botaoAcessar-clinicas, .botaoAcessar-normas, .botaoAcessar-glossario {
      font-size: 20px;
      margin-top: 10px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {

    .cardHeader-chat, .cardHeader-glossario, .cardHeader-clinicas, .cardHeader-normas {
        height: 50vh;   
        padding: 10px;   
    }
    .cardFooter {
        height: 40vh;
        padding: 10px 30px 0px 30px;
    }
    .cardFooter p{
        margin-bottom: 10px;
        text-align: center;
        font-size: 22px;
    }
}

@media only screen and (min-width : 320px) and (max-width : 480px) {

    .cardHeader-chat, .cardHeader-glossario, .cardHeader-clinicas, .cardHeader-normas {
        height: 50vh;      
    }
    .cardFooter {
        height: 200px;
        padding: 0px 10px 0px 10px;
    }
    .cardFooter p{
        margin-bottom: 5px;
        text-align: center;
    }
}