.toggle_button{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
}

.toggle_button:focus{
    outline: none;
}

.toggle_button__line{
    width: 30px;
    height: 1px;
    background: white;
}