ul {
    list-style-type: none;    
}
.centralContainer{
    width: 50%;
}
.Samanta{
    width: 100%;
    background: #80ff80;
    padding: 20px;
    margin-left: 600px;
    border-radius: 15px;
}

.otherUser{
    background: #80d4ff;
    padding:20px;
    width: 100%;
    border-radius: 15px;
    margin-right: 30px;
}
.messageSend{
    width: 50%;
      margin-top: 13px;
      margin-bottom: 13px;
      background: #c2c2a3;
      padding: 20px;
      border-radius: 15px;
      
}
.senderUsername {
    font-weight: bold;
    word-wrap: break-word;

}
.message 
{   font-size: 15px; 
     word-wrap: break-word;

}