.conteudoGeral{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding: 20px;
}
.linha1Home, .linha2Home{
    display: flex;
    width: 100%;
}
.coluna1, .coluna2, .coluna3, .coluna4 {
    height: 100%;
    width: 50%;
    padding: 15px;
    text-align: center;
    
}
 
/* @media only screen and (max-width: 768px) {
    .conteudoGeral{
        flex-direction: column;

    }
    .coluna1, .coluna2, .coluna3, .coluna4 {
        height: 100vh;
      width: 100%;           
    }
} */
@media (min-width: 1281px) and (max-width: 1400px){
    .conteudoGeral{
        flex-direction: row;
    }
    .linha1Home, .linha2Home{
        display: flex;
    }
    .coluna1, .coluna2, .coluna3, .coluna4 {
        height: 100vh;
        width: 100%;   
        padding: 10px; 
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .conteudoGeral{
        flex-direction: column;
    }
    .linha1Home, .linha2Home{
        display: flex;
    }
    .coluna1, .coluna2, .coluna3, .coluna4 {
        height: 100vh;
        width: 100%;   
        padding: 30px; 
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    .conteudoGeral{
        flex-direction: column;
    }
    .coluna1, .coluna2, .coluna3, .coluna4 {
        height: 100vh;
        width: 100%;   
        padding: 50px; 
    }

    .linha1Home, .linha2Home{
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .conteudoGeral{
        flex-direction: column;
    }
    .coluna1, .coluna2, .coluna3, .coluna4 {
        height: 100vh;
        width: 100%;    
    }
    .linha1Home, .linha2Home{
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (min-width : 320px) and (max-width : 480px) {

    .conteudoGeral{
        flex-direction: column;
    }
    .coluna1, .coluna2, .coluna3, .coluna4 {
        height: 100vh;
        width: 100%;    
    }

    .linha1Home, .linha2Home{
        display: flex;
        flex-direction: column;
    }
}