.geral{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding: 20px;
}

.coluna1, .coluna2 {
    height: 100%;
    width: 100%;
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;

}
 
.linha1{
    height: 250px;
    width: 100%;
    text-align: center;
    background: red;
    padding: 30px;
}

.coluna1 .linha1 {
    background: blue;
}

.coluna1 .linha2{
    background: green;
}

.coluna2 .linha1{
    background: orangered;
}
.coluna2 .linha2{
    background: violet;
}

.linha2{
    height: 250px;
    width: 100%;
    text-align: center;
    background: red;
    margin-top: 30px;
    padding:30px;
}