.sidebar{

}

.fotoContainer{
    background: #9fdf9f;
    width: 100%;
    text-align: center;
    /* height: 20vh; */
}

.itemContainer{
    width: 100%;
}

.itemContainer h4, .itemContainer p, .itemContainer h5{
    padding: 20px;
    text-align: center;
    color: #000;

}

.perfil{
    width: 40%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.itemsContainer{
    width: 100%;
    padding: 20px;
    border: #000 solid 2px;
    color: #fff;
}

.sidebarMenu, .itemContainer{
    padding:0px;
}
a{
    text-decoration: none; 
    cursor: default;
    color: #fff;
}

